*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* ------------
 header styles 
 -------------- */
header {
  background: rgba(255, 144, 14, 0.1);
  width: 100%;
  height: 100%;
}
.nav-container,
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 40px 0px 50px;
}
ul {
  list-style-type: none;
  gap: 20px;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}
.title-size {
  font-weight: 700;
  font-size: 40px;
  color: #131313;
}

/* ------------
  banner style
 -------------- */
.banner {
  text-align: center;
  height: 300px;
  width: 700px;
  margin-left: 200px;
  margin-bottom: 60px;
}
.banner-title {
  margin: 0 0 0 130px;
  font-size: 64px;
  color: #131313;
}
.banner-description {
  color: #727272;
  margin: 30px 0px 0px 70px;
  width: 100%;
}
.button-div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 30px 0px 0px 100px;
}
.button > button {
  color: #ffffff;
  background-color: orange;
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
}

.banner-img {
  width: 80%;
  height: 600px;
  margin-left: 125px;
}
.img {
  width: 100%;
}
/* -------------
  main styles
 --------------- */
.list-container {
  display: grid;
  grid-template-columns: repeat(2, 342px);
  gap: 15px;
}
.image-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 120px 0px 0px 30px;
}
.image {
  width: 342px;
  height: 342px;
}
.list-details {
  width: 450px;
  height: 280px;
  position: relative;
  left: 410px;
  top: 350px;
}
.dark3 {
  color: #727272;
  font-weight: 500;
  font-size: 45px;
}
.black {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
}
.orange {
  color: #ff900e;
  font-weight: 700;
  font-size: 45px;
}
.list-description {
  color: #727272;
}
.list-button {
  padding: 20px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  background-color: #ff900e;
  border-radius: 8px;
  border: none;
}
/*---------------
 Experience style
 -----------------*/
.experience-container {
  background-image: url("../images/architect.png");
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 80px;
}
.top-contant {
  margin-left: 40px;
  width: 400px;
  height: 250px;
}
.top-description {
  color: #727272;
}
.contant {
  width: 400px;
  height: 120px;
  margin-left: 40px;
  padding: 0px 0px 10px 20px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.title {
  font-weight: 600;
  font-size: 20px;
  padding-top: 10px;
  color: #131313;
}
.description {
  width: 400px;
  height: 77px;
  color: #727272;
}
.exp-button {
  width: 300px;
  height: 150px;
  margin-left: 480px;
  background: #ff900e;
  color: #ffffff;
  border-radius: 8px;
  border: none;
}
.text-size {
  font-weight: 700;
  font-size: 65px;
}
.exp {
  font-weight: 500;
  font-size: 25px;
}
/*---------------- 
Some Facts styles
------------------*/
.icon-info {
  margin: 100px 0px 0px 80px;
}
.icon-description {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  width: 420px;
  height: 40px;
}
.icons-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 70px;
}
.icon {
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 142px;
  height: 142px;
  margin-top: 70px;
}
.icon,
img {
  margin-top: 10px;
}
/*--------------
 footer style 
 --------------- */
.sponsors-container {
  text-align: center;
  color: #131313;
  margin: 120px 0px 50px 0px;
}
.sponsors-discription {
  color: #727272;
}
.logo {
  display: flex;
  justify-content: space-around;
  filter: grayscale(100%);
}
.end-div {
  background-color: rgb(255, 203, 197);
  text-align: center;
  width: 80%;
  height: 30px;
  font-size: 20px;
  margin: 80px 0px 0px 100px;
}

/*-----------------
 media query style 
 ------------------*/
 @media only screen and (max-width: 576px) {
   header{
    background-color: white;
   }
   .nav-container{
    display: flex;
    flex-direction: column;
   }
   .banner-img{
    margin: 0px;
    width: 100%;
   }
   .list-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
   }
   .image-list{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content: center;
   }
   .list-details{
    position: sticky;
    margin-top: 80px;
    height: 90%;
    width: 90%;
   }
   

 }